section{
	min-width: 1030px
}
#container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.imgGallery {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:0px;
    margin:0px;
}
.imgGallery img{
	max-width: 300px;
	max-height: 40%;
	position: center;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(212, 212, 212);
    margin:5px;
}
a.imgLink{
	border:none;
	background-color: inherit;
	margin:10px;
	padding:0px;
}
.infoBttn:hover .infoContent {
    display: block;
    float: unset;
}
.infoContent {
    display: none;
    background: #C8C8C8;
    padding: 10px;
    margin-left:20px;
    margin-top:-30px;
    width:200px;
    height:50px;
    position: absolute;
    z-index: 1000;
}
.infoBttn {
    margin:0px;
    padding:0px;
    border:1px solid black;
    border-radius: 3px;
    width: 25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoContent a{
	border:none;
	background-color: inherit;
	padding:0px;
	margin:0px;
	text-decoration: underline;
}
.infoContent a:hover{
	text-decoration-color:grey;
}
.walkInfo{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}