.woofpack{
	margin: auto;
	height: 425px;
    width: 680;
<<<<<<< HEAD
	background-image: url("Pictures/woofpack.jpg");
=======
	background-image: url("woofpack.jpg");
>>>>>>> 2473ec75562dc3170168c4a5716e976c6cbd3ecc
    position: center;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(212, 212, 212);
    margin-bottom: 20px;
    margin-top: 10px;

}
.dogsunleashed{
	margin: auto;
	height: 425px;
    width: 680;
<<<<<<< HEAD
	background-image: url("Pictures/dogs-unleashed.jpg");
=======
	background-image: url("dogs-unleashed.jpg");
>>>>>>> 2473ec75562dc3170168c4a5716e976c6cbd3ecc
    position: center;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(212, 212, 212);
    margin-bottom: 20px;
}
.kingpup{
	margin: auto;
	height: 425px;
    width: 680;
<<<<<<< HEAD
	background-image: url("Pictures/Kingpup.jpg");
=======
	background-image: url("Kingpup.jpg");
>>>>>>> 2473ec75562dc3170168c4a5716e976c6cbd3ecc
    position: center;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(212, 212, 212);
    margin-bottom: 20px;
}

.goldenleash{
	margin: auto;
	height: 425px;
    width: 680;
<<<<<<< HEAD
	background-image: url("Pictures/goldenleash.jpg");
=======
	background-image: url("goldenleash.jpg");
>>>>>>> 2473ec75562dc3170168c4a5716e976c6cbd3ecc
    position: center;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(212, 212, 212);
    margin-bottom: 20px;
}
.packageheader{
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 1px;
	-webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 60;
    font-weight: bold;
}
.packagetext{
    text-align: center;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 1px;
    font-size: 20;

}